@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.material-icons {
    font-size: 60px;
    font-weight: 800;
}

*, body{
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialised;
}
.folder{
    width: 100wh;
    height: 100vh;
    background: #cccccc;
}
.folder-card{
    border-radius: 5px;
    background-color: #ffffff;
    align-content: center;
    justify-content: space-around;
    opacity: 0.8;
}
.link-undecorated{
    text-decoration: none;
}
.link-undecorated:hover{
    text-decoration: none;
}

.btn-folder{
    color: #000000;
    text-decoration: none;
    transition: color 0.8s;
}

.link-text:hover, .campus-text:hover, .btn-folder:hover{
    color: #00226b;
}

@media screen and (max-width: 767px){
    .title-text{
        font-size: 40px;
        font-weight: 700;
        color: #000000;
    }
    .name-text{
        font-size: 35px;
        color: #000000;
    }
    .universidade-text{ 
        font-size: 25px;
        color: #000000;
    }
    .campus-text{
        font-size: 25px;
        color: #000000;
        text-decoration: none;
        transition: color 0.5s;
    }
    .link-text{
        color: #000000;
        text-decoration: none;
        transition: color 0.5s;
    }
}
@media screen and (min-width: 768px){
    .title-text{
        font-size: 70px;
        font-weight: 800;
    }
    .name-text{
        font-size: 50px;
        color: #000000;
    }
    .universidade-text{
        font-size: 40px;
        color: #000000;
    }
    .campus-text{
        font-size: 40px;
        color: #000000;
        text-decoration: none;
        transition: color 0.5s;
    }
    .link-text{
        font-size: 25px;
        color: #000000;
        text-decoration: none;
        transition: color 0.5s;
    }
}
